<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="default(main, title, js, css)">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

  <!--/* ajax 에서 csrf 처리를 위해 서버에서 값을 받음 */-->
  <!--<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <meta name="_csrf_token" th:content="${_csrf.token}"/>-->

  <link rel="shortcut icon" th:href="@{/images/favicon.ico}">

  <link rel="stylesheet" th:href="@{/css/normalize.css}"/>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{/css/common.css}"/>

  <style th:replace="${css}"></style>

  <title th:replace="${title}" th:assert="${!#strings.isEmpty(title)}">DevFactory</title>
</head>

<!--/* // @formatter:off */-->
<body>
  <div class="wrap">
    <header th:insert="~{layouts/fragments/header :: header}" class="header bg-dark"></header>
    <main th:insert="${main}" role="main" class="main"></main>
    <footer th:insert="~{layouts/fragments/footer :: footer}" class="footer"></footer>
  </div>

  <script th:src="@{/webjars/font-awesome/5.13.0/js/all.min.js}"></script>
  <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/common.js}"></script>

  <script th:replace="${js}"></script>
</body>
<!--/* // @formatter:on */-->

</html>
