<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="default(main, title, js, css, link)">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

  <link rel="shortcut icon" th:href="@{/images/favicon.ico}">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500&display=swap">
  <link rel="stylesheet" th:href="@{/node_modules/normalize.css/normalize.css}"/>
  <link rel="stylesheet" th:href="@{/node_modules/bootstrap/dist/css/bootstrap.min.css}"/>

  <link th:replace="${link}">

  <link rel="stylesheet" th:href="@{/css/common.css}"/>

  <style th:replace="${css}"></style>

  <title th:replace="${title}" th:assert="${!#strings.isEmpty(title)}">스터디올래 - DevFactory</title>
</head>

<!--/* // @formatter:off */-->
<body class="bg-light">
  <div class="wrap">
    <header th:replace="~{layouts/fragments/header :: header}"></header>
    <main th:replace="${main}"></main>
    <footer th:replace="~{layouts/fragments/footer :: footer}"></footer>
  </div>

  <script th:src="@{/node_modules/{fortawesome}/fontawesome-free/js/all.min.js(fortawesome='@fortawesome')}"></script>
  <script th:src="@{/node_modules/jquery/dist/jquery.min.js}"></script>
  <script th:src="@{/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/node_modules/jdenticon/dist/jdenticon.min.js}"></script>
  <script th:src="@{/js/common.js}"></script>

  <script th:replace="${js}"></script>
</body>
<!--/* // @formatter:on */-->

</html>
