<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:insert="~{layouts/layoutDefault :: default(~{::main}, _, ~{::script}, _)}">
<body>

<main th:ref="main">
  <div class="alert alert-warning" th:if="${account != null && !account.emailVerified}">
    스터디올레 가입을 완료하려면 <a href="#" th:href="@{/check-email}" class="alert-link">계정 인증 이메일을 확인</a>하세요.
  </div>

  <div class="py-5 text-center">
    <h2>스터디올래</h2>
  </div>
</main>

<script>
  (function () {
    console.log('index');
  }());
</script>

</body>
</html>
