<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:insert="~{layouts/layoutDefault :: default(~{::main}, _, ~{::script}, ~{::style}, ~{::link})}">

<head>
  <title></title>
  <link rel="stylesheet"
        th:href="@{/node_modules/{yaireo}/tagify/dist/tagify.css(yaireo='@yaireo')}">

  <style>
    .tagify-outside {
      border: 0;
      padding: 0;
      margin: 0;
    }
  </style>
</head>

<body>

<main th:ref="main">
  <div class="d-flex mt-5 justify-content-center">
    <div class="col-2"
         th:insert="~{layouts/fragments/settingsMenu :: settings-menu(currentMenu='tags')}">
    </div>

    <div class="col-8">
      <div class="row">
        <h2 class="col-12">관심있는 스터디 주제</h2>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="alert alert-info" role="alert">
            참여하고 싶은 스터디 주제를 입력해 주세요. 해당 주제의 스터디가 생기면 알림을 받을 수 있습니다.
            태그를 입력하고 콤마(,) 또는 엔터를 입력하세요.
          </div>
          <div id="whiteList" th:text="${whiteList}" hidden></div>
          <label for="tags"></label>
          <input id="tags" type="text" name="tags" class="tagify-outside"
                 th:value="${#strings.listJoin(tags, ',')}"/>
        </div>
      </div>
    </div>
  </div>
</main>

<script th:src="@{/node_modules/{yaireo}/tagify/dist/tagify.min.js(yaireo='@yaireo')}"></script>
<script th:inline="javascript">
  $(function () {
    var csrfToken = /*[[${_csrf.token}]]*/ null,
        csrfHeader = /*[[${_csrf.headerName}]]*/ null;

    $(document).ajaxSend(function (e, xhr, options) {
      xhr.setRequestHeader(csrfHeader, csrfToken);
    });
  });
</script>
<script>
  $(function () {
    var tagInput = document.querySelector('#tags'),
        tagify = new Tagify(tagInput, {
          pattern: /^.{0,20}$/,
          whitelist: JSON.parse(document.querySelector("#whiteList").textContent),
          dropdown: {
            enabled: 1, // suggest tags after a single character input
          },
          backspace: false
        });

    tagify.on('add', onAdd);
    tagify.on('remove', onRemove);

    // add a class to Tagify's input element
    tagify.DOM.input.classList.add('form-control');

    // re-place Tagify's input element outside of the  element (tagify.DOM.scope), just before it
    tagify.DOM.scope.parentNode.insertBefore(tagify.DOM.input, tagify.DOM.scope);
  });

  function tagRequest(method, tagTitle) {
    // @formatter:off
    $.ajax({
      dataType: 'json',
      autocomplete: {
        enabled: true,
        rightKey: true,
      },
      contentType: 'application/json; charset=utf-8',
      method: method,
      url: '/settings/tags',
      data: JSON.stringify({'tagTitle': tagTitle})
    })
    .done(function (data, status) {
      console.log('${data} and status is ${status}');
    });
    // @formatter:on
  }

  function onAdd(e) {
    tagRequest('POST', e.detail.data.value);
  }

  function onRemove(e) {
    tagRequest('DELETE', e.detail.data.value);
  }
</script>

</body>
</html>
