<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:insert="~{layouts/layoutDefault :: default(~{::main}, _, ~{::script}, ~{::style}, ~{::link})}">

<head>
  <title></title>
  <link rel="stylesheet"
        th:href="@{/node_modules/{yaireo}/tagify/dist/tagify.css(yaireo='@yaireo')}">

  <style>
    .tagify-outside {
      border: 0;
      padding: 0;
      margin: 0;
    }
  </style>
</head>

<body>

<main th:ref="main">
  <div class="d-flex mt-5 justify-content-center">
    <div class="col-2"
         th:insert="~{layouts/fragments/settingsMenu :: settings-menu(currentMenu='zones')}">
    </div>

    <div class="col-8">
      <div class="row">
        <h2 class="col-12">주요 활동 지역</h2>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="alert alert-info" role="alert">
            주로 스터디를 다닐 수 있는 지역을 등록하세요. 해당 지역에 스터디가 생기면 알림을 받을 수 있습니다.<br/>
            시스템에 등록된 지역만 선택할 수 있습니다.
          </div>
          <div id="whiteList" th:text="${whiteList}" hidden></div>
          <label for="zones"></label>
          <input id="zones" type="text" name="tags" class="tagify-outside"
                 th:value="${#strings.listJoin(zones, ',')}" />
        </div>
      </div>
    </div>
  </div>
</main>

<script th:src="@{/node_modules/{yaireo}/tagify/dist/tagify.min.js(yaireo='@yaireo')}"></script>
<script th:replace="~{layouts/fragments/csrf :: csrf}"></script>
<script>
  $(function () {
    var tagInput = document.querySelector('#zones'),
        tagify = new Tagify(tagInput, {
          enforceWhitelist: true,
          whitelist: JSON.parse(document.querySelector("#whiteList").textContent),
          dropdown: {
            enabled: 1, // suggest tags after a single character input
          },
          backspace: false
        });

    tagify.on('add', onAdd);
    tagify.on('remove', onRemove);

    // add a class to Tagify's input element
    tagify.DOM.input.classList.add('form-control');

    // re-place Tagify's input element outside of the  element (tagify.DOM.scope), just before it
    tagify.DOM.scope.parentNode.insertBefore(tagify.DOM.input, tagify.DOM.scope);
  });

  function zoneRequest(method, zoneName) {
    // @formatter:off
    $.ajax({
      dataType: 'json',
      autocomplete: {
        enabled: true,
        rightKey: true,
      },
      contentType: 'application/json; charset=utf-8',
      method: method,
      url: '/settings/zones',
      data: JSON.stringify({'zoneName': zoneName})
    })
    .done(function (data, status) {
      console.log('${data} and status is ${status}');
    });
    // @formatter:on
  }

  function onAdd(e) {
    zoneRequest('POST', e.detail.data.value);
  }

  function onRemove(e) {
    zoneRequest('DELETE', e.detail.data.value);
  }
</script>

</body>
</html>
