<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:insert="~{layouts/fragments/tab :: tab(~{::tabMain}, ~{::tabJs}, ~{::tabStyle})}">

<style th:ref="tabStyle">
  hr {margin: 0 0 1em 0}
</style>

<div th:ref="tabMain" class="tab-main pt-3">
  <input id="userId" type="hidden" th:value="${user?.id}">

  <div class="form-group">
    <label for="email" class="font-weight-bold">이메일</label>
    <input th:value="${user?.email}" type="text" id="email" class="form-control" required>
    <div class="invalid-feedback d-block"></div>
  </div>

  <div class="form-group">
    <label for="username" class="font-weight-bold">이름</label>
    <input th:value="${user?.username}" type="text" id="username" class="form-control" required>
    <div class="invalid-feedback d-block"></div>
  </div>

  <div class="form-group">
    <label for="password">비밀번호<span class="text-muted">&nbsp;(Optional)</span></label>
    <input type="password" id="password" class="form-control">
    <div class="invalid-feedback d-block"></div>
  </div>

  <div class="form-group">
    <label for="age">나이<span class="text-muted">&nbsp;(Optional)</span></label>
    <input th:value="${user?.age}" type="number" id="age" class="form-control">
    <div class="invalid-feedback d-block"></div>
  </div>

  <div class="form-group mb-0">
    <label for="roles">권한<span class="text-muted">&nbsp;(Optional)</span></label>
    <div th:each="role, status: ${roles}">
      <!--suppress ThymeleafVariablesResolveInspection -->
      <input th:id="|roles${status.index}|" th:value="${role.id}"
             th:checked="${#custom.checkMatchRole(role.id, user.roles)}"
             type="checkbox" id="roles" name="roles"/>
      <label th:for="|roles${status.index}|" for="roles" th:text="${role.name}"></label>
    </div>
    <div class="invalid-feedback d-block"></div>
  </div>

  <hr/>

  <div class="form-group mb-0 d-flex justify-content-between">
    <span><a href="javascript:void(0)" id="btnList" class="btn btn-secondary btn-sm" title="목록으로">
      <i class="fas fa-list"></i>&nbsp;목록으로</a></span>
    <span>

      <a th:if="${user?.id}" href="javascript:void(0)" id="btnUpdate"
         class="btn btn-info btn-sm" title="수정"><i class="fas fa-edit"></i>&nbsp;수정</a>
    </span>
  </div>
</div>

<script th:ref="tabJs" th:inline="javascript">
  var $email = $('#email'),
      $username = $('#username'),
      $password = $('#password'),
      $age = $('#age');

  $(function () {
    $("#btnList").click(function () {
      location.href = '[(@{/admin/users(t=1)})]';
    });

    $("#btnUpdate").click(function () {
      if (!formValidation()) {
        return;
      }

      $.ajax({
        url: '[(@{/api/admin/users})]/' + $('#userId').val(),
        type: 'PUT',
        contentType: 'application/json',
        dataType: 'json',
        data: formToJson()
      })
      .done(function (response, textStatus, jqXHR) {
        alert('사용자 정보가 수정 되었습니다.');
        console.log(response);
      })
      .fail(function (jqXHR, textStatus, error) {
        console.error(textStatus, error);
      });
    });
  });

  function formValidation() {
    if (!$email.val()) {
      alertAndFocus($email, '이메일를 입력해주세요.');
      return false;
    }

    if (!$username.val()) {
      alertAndFocus($username, '이름을 입력해주세요.');
      return false;
    }

    return true;
  }

  function formToJson() {
    return JSON.stringify({
      email: $email.val(),
      username: $username.val(),
      password: $password.val(),
      age: $age.val(),
      roles: $('input[name=roles]:checked').map(function () {
        return $(this).val();
      }).get()
    });
  }
</script>

</html>
