nav a.navbar-brand img {
  width: 30px;
  height: 30px;
}

body {
  font-family: -apple-system,
  BlinkMacSystemFont, "Noto Sans KR", "Segoe UI",
  Roboto, "Helvetica Neue",
  Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body,
input,
button,
select,
optgroup,
textarea,
.tooltip,
.popover {
  font-family: -apple-system,
  BlinkMacSystemFont, "Noto Sans KR", "Segoe UI",
  Roboto, "Helvetica Neue",
  Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

table th {
  font-weight: lighter;
}

#study-logo {
  height: 200px;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

#study-logo img {
  height: auto;
  width: 100%;
  overflow: hidden;
}

footer img {
  width: 100px;
}
