<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:insert="~{layouts/layoutSign :: sign(~{::main}, ~{::title}, ~{::script})}">
<head>
  <title>로그인 - DevFactory</title>
</head>
<body>

<!--// @formatter:off-->
<section th:ref="main" class="section-main">
  <div class="card card-sign-in">
    <div class="card-body">
      <h5 class="card-title text-center"><strong>로그인</strong></h5>

      <div th:unless="${param.error eq null}" class="alert alert-danger">
        <strong>Failed to login.</strong><br/>
        <span th:text="${#request.getAttribute('errorMessage')}"
              th:unless="${#request.getAttribute('errorMessage') eq null}"></span>
      </div>

      <!--<div th:unless="${param.expired eq null}" class="alert alert-success">
        <strong>Session Expired</strong><br/>
        <span>
          You have been forcibly logged out due to multiple sessions on the same account<br/>
          (only one active session per user is allowed).
        </span>
      </div>-->

      <form th:action="@{/login}" method="post" class="form-sign-in">
        <!--/* 추가 파라미터 테스트용 */-->
        <input type="hidden" name="secretKey" value="secret">
        <div class="form-label-group">
          <input type="email" id="inputUsername" name="username" class="form-control" placeholder="이메일 주소" required autofocus>
          <label for="inputUsername">이메일 주소</label>
        </div>

        <div class="form-label-group">
          <input type="password" id="inputPassword" name="password" class="form-control" placeholder="비밀번호" required>
          <label for="inputPassword">비밀번호</label>
        </div>

        <!--<div class="custom-control custom-checkbox ml-2  mb-3">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label small hand" for="customCheck1" title="로그인 유지">로그인 유지</label>
        </div>-->

        <button class="btn btn-lg btn-sign btn-block text-uppercase" type="submit" title="로그인">
          <i class="fas fa-sign-in-alt mr-2"></i>로그인
        </button>

        <p class="divider-text"><span class="bg-white">OR</span></p>

        <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit" title="구글 아이디로 로그인" data-social="google">
          <i class="fab fa-google mr-2"></i>&nbsp;구글 아이디로 로그인
        </button>
        <button class="btn btn-lg btn-kakao btn-block text-uppercase" type="submit" title="카카오 아이디로 로그인" data-social="kakao">
          <i class="fab fa-kickstarter-k mr-2"></i>&nbsp;카카오 아이디로 로그인
        </button>
      </form>
    </div>
  </div>
</section>
<!--// @formatter:on-->

<script th:inline="javascript">
  var $inputUsername = $('#inputUsername'),
      $inputPassword = $('#inputPassword');

  $(function () {
    $('button.btn-sign').click(function (evt) {
      evt.preventDefault();

      if (!validationForm()) {
        return;
      }

      $.ajax({
        url: '[(@{/api/login})]',
        type: 'POST',
        contentType: 'application/json',
        dataType: 'json',
        data: formToJson()
      })
      .done(function (response, textStatus, jqXHR) {
        location.href = '[(@{/})]';
      })
      .fail(function (jqXHR, textStatus, error) {
        console.error(textStatus, error);
      });
    });

    $('button.btn-google, button.btn-kakao').click(function (evt) {
      evt.preventDefault();
      alert('현재는 구글, 카카오 아이디 로그인 지원하지 않습니다.')
      // var socialType = $(this).data('social');
      // evt.preventDefault();
      // location.href = "/oauth2/authorization/"+ socialType;
    });
  });

  function validationForm() {
    if (!$inputUsername.val()) {
      alertAndFocus($inputUsername, '이메일를 입력해주세요.');
      return false;
    }

    if (!$inputPassword.val()) {
      alertAndFocus($inputPassword, '비밀번호를 입력해주세요.');
      return false;
    }

    return true;
  }

  function formToJson() {
    return JSON.stringify({
      username: $inputUsername.val(),
      password: $inputPassword.val()
    });
  }
</script>

</body>
</html>
