<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:insert="~{layouts/layoutDefault :: default(~{::main}, _, ~{::script}, ~{::style}, ~{::link})}">

<head>
  <title></title>
  <link rel="stylesheet"
        th:href="@{/node_modules/{yaireo}/tagify/dist/tagify.css(yaireo='@yaireo')}">

  <style>
    .tagify-outside {
      border: 0;
      padding: 0;
      margin: 0;
    }
  </style>
</head>

<body>

<main th:ref="main">
  <div th:replace="~{layouts/fragments/study :: study-banner}"></div>
  <div th:replace="~{layouts/fragments/study :: study-info}"></div>
  <div th:replace="~{layouts/fragments/study :: study-menu(studyMenu='settings')}"></div>

  <div class="d-flex mt-5 justify-content-center">
    <div class="col-2"
         th:insert="~{layouts/fragments/study :: study-settings-menu(currentMenu='zones')}">
    </div>

    <div class="col-8">
      <div class="row">
        <h2 class="col-sm-12">주요 활동 지역</h2>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="alert alert-info" role="alert">
            주로 스터디를 하는 지역을 등록하세요.<br/>
            시스템에 등록된 지역만 선택할 수 있습니다.
          </div>
          <div id="whiteList" th:text="${whiteList}" hidden></div>
          <input id="zones" type="text" name="zones" th:value="${#strings.listJoin(zones, ',')}"
                 class="tagify-outside">
        </div>
      </div>
    </div>
  </div>
</main>

<script th:src="@{/js/common-study.js}"></script>
<script th:replace="~{layouts/fragments/csrf :: csrf}"></script>
<script
    th:replace="~{layouts/fragments/common :: update-zones(baseUrl='/study/' + ${study.path} + '/settings/zones')}"></script>

</body>
</html>
