<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/layoutDefault :: default(~{::main}, _, ~{::script}, _, ~{::link})}">

<head>
  <title></title>
  <link rel="stylesheet" th:href="@{/node_modules/summernote/dist/summernote-bs4.min.css}">
</head>

<body>

<main th:ref="main">
  <div th:replace="~{layouts/fragments/study :: study-banner}"></div>
  <div th:replace="~{layouts/fragments/event :: form (mode='edit', action='/study/' + ${study.path}
        + '/events/' + ${event.id})}"></div>
</main>

<script th:src="@{/node_modules/summernote/dist/summernote-bs4.js}"></script>
<script th:src="@{/js/common-editor.js}"></script>
<script th:src="@{/js/form-validation.js}"></script>

</body>
</html>
